<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tilføj skade til skaderapport</title>
  <link rel="stylesheet" th:href="@{/style.css}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<h2>Add Damage Item</h2>

<form th:action="@{/add-damage-item}" method="post">

  <input type="hidden" name="reportId" th:value="${reportId}" />

  <label>Beskrivelse:</label>
  <input type="text" name="description" required>

  <label>Pris:</label>
  <input type="number" step="1" min="0" name="price" required>

  <button type="submit">Gem skade</button>
</form>

</body>
</html>