<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/style.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<section class ="layout">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <main class="content">
        <h1>Velkommen til dashboard</h1>


        <section class="cards">

            <section class="card">
                <div class="card-content">
                    <h2>Udlejede biler</h2>
                    <p>
                        <i class="fa fa-car"></i>
                        <span th:text="${rentedCarsCount}">0</span>
                    </p>
                    <span>Aktive lejeaftaler</span>
                </div>
            </section>

            <section class="card">
                <div class="card-content">
                    <h2>Samlet pris</h2>
                    <p>
                        <i class="fa fa-wallet"></i>
                        <span th:text="${totalActiveRevenue}">0</span>
                    </p>
                    <span>Samlede pris for lejeaftaler</span>
                </div>
            </section>






        </section>



    </main>
</section>


</body>
</html>