<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<section class="login-page">
    <main class="login-content">
        <h1>Velkommen til Bilabonnement.dk</h1>
        <div class="login-card">
            <h2>Log ind</h2>
            <form action="/login" method="post">
                <strong>
                    <label for="email">Email:</label>
                </strong>
                <input type="email" id="email" name="email" required>
                <br>
                <strong>
                    <label for="password">Adgangskode:</label>
                </strong>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">Log ind</button>
            </form>
        </div>
    </main>
</section>

</body>
</html>