<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lejeaftaler</title>
    <link rel="stylesheet" th:href="@{/style.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<section class="layout">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <main class="content">
        <h1>Velkommen til lejeaftaler</h1>
        <div>
            <a th:href="@{/lease-create}" class="btn-primary">
                + Opret lejeaftale
            </a>
        </div>
        <form th:action="@{/lease-agreements}" method="get">
            <table class="table">
                <thead>
                <tr>
                    <th>Aftale ID</th>
                    <th>Kunde ID</th>
                    <th>Bil ID</th>
                    <th>Startdato</th>
                    <th>Slutdato</th>
                    <th>Udbetaling</th>
                    <th>Månedlig betaling</th>
                    <th>Maks km</th>
                    <th>Oprettet af</th>
                    <th>Aktiv</th>
                    <th></th>
                </tr>
                <tr>
                    <th><input type="number" min="0" name="agreementId" th:value="${param.agreementId}" placeholder="Aftale ID"></th>
                    <th><input type="number" min="0" name="customerId" th:value="${param.customerId}" placeholder="Kunde ID"></th>
                    <th><input type="number" min="0" name="carId" th:value="${param.carId}" placeholder="Bil ID"></th>
                    <th><input type="date" name="startDate" th:value="${param.startDate}" placeholder="Startdato"></th>
                    <th><input type="date" name="endDate" th:value="${param.endDate}" placeholder="Slutdato"></th>
                    <th><input type="number" min="0" name="downpayment" th:value="${param.downpayment}" placeholder="Udbetaling"></th>
                    <th><input type="number" min="0" name="monthlyPayment" th:value="${param.monthlyPayment}" placeholder="Månedlig betaling"></th>
                    <th><input type="number" min="0" name="maxKm" th:value="${param.maxKm}" placeholder="Maks km"></th>
                    <th><input type="text" name="createdByUsername" th:value="${param.createdByUsername}" placeholder="Oprettet af"></th>
                    <th>
                        <select name="active">
                            <option value="" th:selected="${active == null or active == ''}">Begge</option>
                            <option value="true" th:selected="${active == true}">True</option>
                            <option value="false" th:selected="${active == false}">False</option>
                        </select>
                    </th>
                    <th>
                        <button type="submit" class="btn-primary">Filter</button>
                        <a th:href="@{/lease-agreements}" class="btn-primary">Reset</a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(rentalAgreementList)}">
                    <td colspan="11">Ingen lejeaftaler fundet</td>
                </tr>
                <tr th:each="agreement : ${rentalAgreementList}">
                    <td th:text="${agreement.agreementId}"></td>
                    <td th:text="${agreement.customer}"></td>
                    <td th:text="${agreement.car}"></td>
                    <td th:text="${agreement.startDate}"></td>
                    <td th:text="${agreement.endDate}"></td>
                    <td th:text="${agreement.downpayment}"></td>
                    <td th:text="${agreement.monthly_payment}"></td>
                    <td th:text="${agreement.maxKm}"></td>
                    <td th:text="${agreement.createdByUsername}"></td>
                    <td th:text="${agreement.active}"></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </form>

    </main>
</section>


</body>
</html>