<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brugere</title>
    <link rel="stylesheet" th:href="@{/style.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
<section class="layout">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <main class="content">
        <h1>Velkommen til brugere</h1>

        <div>
            <a th:href="@{/users-create}" class="btn-primary">
                + Opret bruger
            </a>
        </div>


        <table class="table">
            <thead>
            <tr>
                <th>Bruger ID</th>
                <th>Brugernavn</th>
                <th>Role</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Aktiveret</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(usersList)}">
                <td colspan="10">Ingen brugere fundet</td>
            </tr>
            <tr th:each="brugere : ${usersList}">
                <td th:text="${brugere.getId}"></td>
                <td th:text="${brugere.getUsername}"></td>
                <td th:text="${brugere.getRole}"></td>
                <td th:text="${brugere.getFirstname}"></td>
                <td th:text="${brugere.getLastname}"></td>
                <td th:text="${brugere.getPhone}"></td>
                <td th:text="${brugere.getEmail}"></td>
                <td th:text="${brugere.isActive}"></td>
            </tr>
            </tbody>
        </table>





    </main>
</section>

</body>
</html>